<div class="container-fluid mt-5 about-style" id="aboutid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">About Us</h1>
                <p class="text-center sub-heading">Grow your business with us</p>
                <div class="row">
                     <div class="col-md-6 col-12 hero-text order-md-0 order-1">
                        <figure>
                            <img src="images/about.svg" alt="herosection_image">
                        </figure>
                    </div>
                    
                    {{!-- right side --}}
                   <div class="col-md-6 col-12 hero-text order-md-1 order-0 d-flex justify-content-center align-items-start flex-column">
                        <h1>We Are The Team Of <span class="bold-style">Professional Developers✌</span></h1>
                        <P>Welcome to <span class="bold-style">Mighty Tech</span>.Your number one source for all the things.We're dedicated to giving you the very best of work.With a focus on three charcteristics Ie :Dependability,Customer Service and Uniqueness.</P>
                        <button class="btn-style btn-primary">READ MORE</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
